{% extends 'base.html' %}

{% block content %}
    {% if error %}
        {{ error }}
    {% endif %}

    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Speciality</th>
            <th>Edit / Delete</th>
        </tr>

    {% for i in physicians %}
        <tr>
            <td>{{ i.first_name }}</td>
            <td>{{ i.last_name }}</td>
            <td>{{ i.speciality }}</td>
            <td><a href="{% url 'edit_physician' first_name=i.first_name last_name=i.last_name speciality=i.speciality%}">Edit/Delete Physician</a></td>
        </tr>
    {% endfor %}
    </table>
    <hr>
     <a href="{% url 'add_physician' %}">Add new physician</a>
{% endblock %}